{% extends "base.html" %}

{% block main %}

<div class="container mt-5">

    <div class="row">
        <div class="col text-center">
            <h1 class="display-4">Recommended Books (and others)</h1>
            <p class="lead">Handpicked by <b>spawek@</b></span></p>
        </div>
    </div>

    <div class="row">
        {% for item in items %}
        <div class="col-md-4 mb-4">
            <div class="card item-card">
                <img src="{{ url_for('static', filename='images/' + item['gtin'] + '.jpg' ) }}"
                    class="card-img-top item-img" alt="{{ item['title'] }}">
                <div class="card-body">
                    <h5 class="card-title">{{ item['title'] }}</h5>
                    <p class="card-text">{{ item['description'] | safe }}</p>
                    <p class="card-text"><small class="text-muted">By {{ item['author'] }}</small></p>
                    <p class="card-text">{{ item['price'] }}</p>
                    <a href="{{ url_for('product', gtin=item['gtin']) }}" class="btn btn-primary">View page</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}