{% extends "base.html" %}

{% block main %}

{% if books is defined and books | length > 0 %}
{# based on: https://support.google.com/google-ads/answer/9028614 #}
<script type="text/javascript">
gtag('event', 'purchase', {
  "send_to": "AW-769094284/0mNDCK_O3NcYEIzl3e4C",
  "transaction_id": "{{ transaction_id }}",
  "value": {{ transaction_value }},
  "currency": "CHF",
  "discount": 0.0,
  "aw_merchant_id": "5081243112",
  "items": [
    {% for book in books %}
    {
      "id": "{{ book["gtin"] }}",
      "quantity": 1,
      "price": {{ book["price_float"] }}
    },
    {% endfor %}
  ]
});
/* ]]> */
</script>

<script type="text/javascript">
dataLayer.push({
    "event": 'purchase',
    "transaction_id": "{{ transaction_id }}",
    "value": {{ transaction_value }},
    "currency": "CHF",
    "discount": 5.0,
    "aw_merchant_id": 5081243112,
    "items": [
        {% for book in books %}
        {
        "id": "{{ book["gtin"] }}",
        "quantity": 1,
        "price": {{ book["price_float"] }}
        },
        {% endfor %}
    ]
});
</script>
{% endif %}

<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-4">This is not a real store - the purchase can't be made</h1>
            <p class="lead">Sorry for that! I still recommend the books!</span></p>
            <p class="lead">Books you selected:</span></p>
        </div>
    </div>
    <div class="row">
        {% for book in books %}
        <div class="col-md-4 mb-4">
            <div class="card book-card">
                <img src="{{ url_for('static', filename='images/' + book['gtin'] + '.jpg' ) }}"
                    class="card-img-top book-img" alt="{{ book['title'] }}">
                <div class="card-body">
                    <h5 class="card-title">{{ book['title'] }}</h5>
                    <p class="card-text">{{ book['description'] | safe }}</p>
                    <p class="card-text"><small class="text-muted">By {{ book['author'] }}</small></p>
                    <p class="card-text">{{ book['price'] }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}