{% extends "base.html" %}

{% block main %}

<div class="container mt-5">
    <div class="row">
        {% for book in books %}
        <div class="col-md-4 mb-4">
            <div class="card book-card">
                <img src="{{ url_for('static', filename='images/' + book['gtin'] + '.jpg' ) }}"
                    class="card-img-top book-img" alt="{{ book['title'] }}">
                <div class="card-body">
                    <h5 class="card-title">{{ book['title'] }}</h5>
                    <p class="card-text">{{ book['description'] | safe }}</p>
                    <p class="card-text"><small class="text-muted">By {{ book['author'] }}</small></p>
                    <p class="card-text">{{ book['price'] }}</p>
                    <form action="{{ url_for('add_to_cart') }}" method="post" class="mb-3">
                        <input type="hidden" name="gtin" value="{{ book['gtin'] }}">
                        <button type="submit" class="btn btn-primary">Add to cart</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}